<!DOCTYPE html>
<html lang="en">


<%-include('./components/head')%>

<body>
    <%-include('./components/header')%>
    <main class="container">
        <div class="mb-2 mt-5 row">
            <%-include('./components/blog-card')%>
        </div>


        <nav aria-label="Pagination" class="<%= Blogs.length < contentPerPage ? 'd-none' : '' %>  m-auto">
            <hr class="my-0" />
            <ul class="pagination justify-content-center my-4">
                <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                    <a class="page-link" href="?page=<%= currentPage - 1 %>" tabindex="-1" aria-disabled="true">Newer</a>
                </li>
                <% for(let i = 1; i <= totalPages; i++) { %>
                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                    </li>
                <% } %>
                <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                    <a class="page-link" href="?page=<%= currentPage + 1 %>">Older</a>
                </li>
            </ul>
        </nav>
    </main>
</body>
</html>