<!DOCTYPE html>
<html lang="en">
<%-include('./components/head')%>

    <body>
        <%-include('./components/header')%>


            <div class="container py-4">
                

                <div class="py-3 mb-4 rounded-3">
                    <div class="container-fluid">
                        <div class="m-auto w-100" style="height: 400px;">
                            <img class="w-100 h-100" src="<%=Blog.heroimage_info.url%>" alt="<%=Blog.title%>-img" onerror="this.src='/assects/images/max-blog-placeholder.jpg'">
                        </div>
                        <div class="pb-3 my-4 border-bottom">
                            <a class="d-flex align-items-start justify-content-start gap-3 text-body-emphasis text-decoration-none">
                                <span class="text-capitalize " style="font-size: 13px;"><i class="fas fa-user"></i> <%=Blog.author%></span>
                                <span class="text-capitalize " style="font-size: 13px;"><%=Blog.category%></span>
                                <%const date = Blog.createdAt.toLocaleString('en-US',{
                                    weekday: 'long',
                                    year: 'numeric',
                                    month: 'long',
                                    day: 'numeric'
                                })%>
                                <span class="text-capitalize " style="font-size: 13px;"><%=date%></span>
                            </a>
                        </div>
                        <div class="row position-relative">
                            <div class="col-lg-8">
                                
                                <h1 class="display-5 fw-bold text-capitalize py-5">
                                    <%=Blog.title%>
                                </h1>
                                <div class="w-100">
                                    <div class="w-100">
                                        <%-Blog.blog%>
                                    </div>
                                </div>
                                <!-- <a data-route="<%=Blog._id%>" class="btn btn-primary btn-lg" id="delete-key"
                                    type="button">Delete Blog</a> -->
                            </div>
                            <div class="col-lg-4" >
                                <%-include('./components/side-widgets')%>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            
    </body>

</html>