<!DOCTYPE html>
<html lang="en">
<%-include('./components/head')%>

    <body>

        <%-include('./components/header')%>




            <main class="container-fluid">
                
                <%-include('./components/blog-courosel')%>


               

                <div class="row ">
                    <!-- Blog entries-->
                    <div class="col-lg-8">
                        <!-- Featured blog post-->
        
                        <!-- Nested row for non-featured blog posts-->
                        <div class="row mb-2 ">
                            <!-- <div class=""> -->
                            <!-- Blog post-->
                            <%-include('./components/blog-card')%>
                            
                            <!-- </div> -->
                        </div>
                        <!-- Pagination-->
                        
                    </div>
                    <!-- Side widgets-->
                    <div class="col-lg-4">
                        <!-- Search widget-->
                        <%-include('./components/side-widgets')%>
                    </div>
                </div>

            </main>



    </body>

</html>