<!DOCTYPE html>
<html lang="en">
    <%- include ('../main_app_head') %>

<body id="" class="overflow-hidden" style="">
        <%- include ('../main_app_header') %>
        <%-include('../Alertbox')%>
<style>
   

    

    .message-container {
        overflow-y: scroll;
        max-height: 80dvh;
        padding: 10px;
    }

    .message {
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        max-width: 50%;
        width: fit-content;
    }

    .own-message {
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        max-width: 50%;
        width: fit-content;

        
       
        
    }

    .message-sender {
        font-weight: bold;
        margin-bottom: 2px;
        font-size: 11px;
    }

    .message-text {
        word-wrap: break-word;
    }

    .input-container {
        display: flex;
        background-color: #fff;
        border-top: 1px solid #ccc;
        padding: 10px;
    }

    .input-field {
        flex: 1;
        padding: 8px;
        border: none;
        border-radius: 5px;
        outline: none;
    }

    .send-btn {
       
        color: #fff;
        
        
        margin-left: 10px;
        cursor: pointer;
        
    }
</style>

<div id="wrapper">

    <!-- Sidebar -->
    <%- include ('../sidebar')%>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column w-100" style="background: white;">

        <!-- Main Content -->
        <div class="position-fixed bottom-0 w-100 col-12 col-lg-10">
            <div class="message-container h-100 w-100">
                
                    
                        <% messages.map(message=> { %>
                            <% if (message.senderId==User._id) { %>
                                <div class="own-message ms-auto bg-primary text-light ">
                                    <div class="message-sender d-flex justify-content-between">
                                       <span> You</span> <span class="ms-2"><%= message.time %></span>
                                    </div>
                                    <div class="message-text">
                                        <%= message.message %>
                                    </div>
                                </div>
                            <% } else { %>
                                    <div class="message bg-primary text-light">
                                        <div class="message-sender d-flex justify-content-between">
                                            <span><%= Recipient.name %></span> <span class="ms-2"><%= message.time %></span>
                                        </div>
                                        <div class="message-text">
                                            <%= message.message %>
                                        </div>
                                    </div>
                            <% } %>
                        <% }) %>
                    
            </div>
            
            <div class="input-container ">
                <input type="text" id="message-input" class="input-field" placeholder="Type your message...">
                <button id="send-btn" class="send-btn btn btn-primary"><i class="fa fa-paper-plane"></i></button>
            </div>
          
        </div>
        <!-- End of Main Content -->
        <%- include ('./modal')%>
        <!-- Footer -->
        

        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->



<script src="/socket.io/socket.io.js"></script>
<script>
    // In the frontend JavaScript
    const socket = io();

    const userId = "<%= User._id %>";
    const receiverId = "<%= Recipient._id %>"
    socket.emit('setUser', userId);

    function startSocket(){
       const messageInput = document.getElementById('message-input');
        const content = messageInput.value.trim();
        const date = new Date()
        const hour = date.getHours()
        const minute = date.getMinutes()
        const newMinute = minute < 10 ? "0" + minute : minute
        const md = hour < 12 ? "am" : "pm";
        const newHour = hour > 12 ? hour - 12 : hour
        if (content !== '') {
            socket.emit('sendMessage', {
                senderId: userId,
                receiverId: receiverId,
                message: content,
                time: `${newHour}:${newMinute}${md}`
            });
            messageInput.value = '';
        }
    }

    window.addEventListener("keydown", (e) => {
        if (e.key == "Enter") {
            startSocket();
        }
    })

    document.getElementById('send-btn').addEventListener('click', () => startSocket());

    


    socket.on('receiveMessage', (message) => {
        if (message.senderId === receiverId || message.senderId === userId) {            
            const messageContainer = document.querySelector('.message-container');
            const messageDiv = document.createElement('div');
            messageDiv.className = message.senderId === userId ? 'own-message ms-auto bg-primary text-light' : 'message bg-primary text-light';
            const messageText = document.createElement('div');
            // const date = new Date()
            // const hour = date.getHours()
            // const minute = date.getMinutes()
            // const newMinute = minute < 10 ? "0" + minute : minute
            // const md = hour < 12 ? "am" : "pm";
            // const newHour = hour > 12 ? hour - 12 : hour

            // const timeElement = `<span class="ms-auto me-3">${newHour}:${newMinute} ${md}</span>`

            messageText.innerHTML = message.senderId===userId ? `
                <div class="message-sender d-flex justify-content-between">
                    <span>You</span> <span class="ms-2">${message.time}</span>
                </div> 
                <div class="message-text">
                    ${message.message}
                </div>

                `:`
                
                <div class="message-sender d-flex justify-content-between">
                    <span><%= Recipient.name %></span> <span class="ms-2">${message.time}</span>
                </div> 
                <div class="message-text">
                    ${message.message}
                </div>`
            ;
            
                
        
            messageDiv.appendChild(messageText);
            messageContainer.appendChild(messageDiv);
        }


    //     if (message.sender === receiverId || message.sender === userId) {
    //     const messageElement = document.createElement('div');
    //     messageElement.innerHTML = `<strong>${message.sender}</strong>: ${message.message}`;
    //     document.getElementById('messages').appendChild(messageElement);
    //   }
    });
</script>
<%- include ('../scripts')%>
</body>
</html>