
<!DOCTYPE html>
<html lang="en">
    <%- include ('../main_app_head') %>


<body id="">
      <%- include ('../main_app_header') %>
      <%-include('../Alertbox')%>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
       
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column justify-content-center align-items-center ">

            <!-- Main Content -->
            <div id="" class="col-12 col-lg-7 mt-lg-5" >
                <div class="bg-white py-2 collapse-inner rounded pt-5 position-relative">


                    <p class="text-center fs-5 position-sticky top-0">Recent Chats</p>
                    <div class=" col-12 d-flex flex-column justify-content-center align-items-center mb-5">
                        <%if(users){%>
                            <% users.map( user => { %>
                                <a class="btn btn-link rounded text-light text-decoration-none" href="/chats/<%=user._id%>">
                                                
                                        
                                    <div class="w-100 d-flex justify-content-center align-items-center" >
                                        <div class="m-auto mb-4 bg-gradient-primary rounded p-2">
                                            <!-- <span class="btn btn-link rounded-circle mr-3"> -->
                                                
                                            <!-- </span> -->
                                            <img class="img-profile rounded-circle mr-4 ms-2 " src="<%=user.avatar_info.url%>" width="35" height="35">
                                            <span class="text-light text-capitalize"><%= user.name %></span>
                                        </div>
                                    </div>
                                </a>
                            <% }) %>
                        <%}else{%>
                            <p>No Chat Initiated Yet !!!</p>
                        <%}%>
                    </div>

                    <hr style="border: 1px solid;" class="border-dark">

                    
                    <form class=" col-12 col-lg-7 m-auto" id="chatForm">

                        <p class="text-center fs-5">Initiate A New Chat</p>
                        <p class="">Enter the user's registered email</p>
                        <input type="text" name="email" id="email" class="form-control py-3 mb-3">
                        <button class="btn btn-primary w-100 mybtn2" type="submit" id="start-chat-btn" >
                            <span id="text">Continue</span>
                            <div class="spinner" id="loader" style="display: none;"></div>
                        </button>
                        
                    </form>


                    
                </div>
            </div>

            <!-- End of Main Content -->
            <%- include ('./modal')%>
            <!-- Footer -->
            <%- include ('./footer')%>

            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
   
    

   
   <%- include ('../scripts')%>

<script type="module">
    import {handleFormSubmission} from '/js/DataUploader.js'

    const chatForm = document.getElementById('chatForm');
    handleFormSubmission(chatForm, '/chats/startNewChat');

</script>




<!-- <script>
         
    const startChatBtn = document.getElementById('start-chat-btn');
    const userId = "<%=User._id%>"
    startChatBtn.addEventListener('click', () => {
        const userDropdown = document.getElementById('user-dropdown');
        const receiverId = userDropdown.value;
        if (receiverId !== userId) {
            window.location.href = `/chats/${receiverId}`;
        } else {
            alert('Cannot select yourself for chat.');
        }

        
    });
</script> -->

  

</body>

</html>
